img{
    border: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}

.tips {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    max-width: 700px;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

.tips-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.tips-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.tips-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.tips-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
